#navbar {
    position: fixed;
    top: 0;
    margin-top: 9px;
}

@media only screen and (min-width: 1px) {
    .show-lg {
        display: none;
    }
}
@media only screen and (min-width: 900px) {
    .show-lg {
        display: block;
    }
}
